body {
  min-height: 100vh;
  box-sizing: border-box;
  padding: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ededed;
}

.spacing {
  margin-bottom: 1rem;
}

main {
  text-align: center;
  padding: 0 1rem;
  max-width: 43.75rem;
  width: 100%;
}

.page-title {
  color: #000;
  text-align: center;
  /* Fixed heading styles/heading-05 */
  font-size: 32px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 300;
  line-height: 40px;
}

.content {
  color: #000;
  text-align: center;
  /* Body styles/body-compact-02 */
  font-size: 16px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.ozone-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.ozone-logo img {
  width: 6.25rem;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.contact-info div:first-of-type {
  margin-right: 1.5rem;
}

.contact-info-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info-item span {
  color: var(--text-text-helper, #6f6f6f);
  text-align: center;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  color: var(--text-text-helper, #6f6f6f);
  text-align: center;
  /* Utility styles/legal-01 */
  font-size: 12px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.32px;
}
